{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="main main-pages">
        <div class="main-pages-image main-pages-image-ibg">
            <picture>
                <source srcset="./images/equipments/bg-mobile.jpg" media="(max-width: 768px)">
                {% if title.image %}
                <img src="{{ title.image.url }}" alt="Изображение компании">
                {% else %}
                {{ title }}
                {% endif %}
            </picture>

            <div class="container container-pages">
                <div class="main-pages__content">
                    <h1 class="main-pages__title">Каталог оборудования</h1>
                </div>
            </div>

        </div>
    </main>
    <div class="breadcrambs">
        <div class="container">
            <div class="breadcrambs-list">
                <ul class="breadcrambs-items">
                    <li class="breadcrambs-link"><a href="#">Главная </a>
                        <svg width="13" height="13"
                             viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 6.80371H11.6066" stroke="#343434" stroke-opacity="0.4" stroke-width="1.2"
                                  stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6.3033 1.50041L11.6066 6.80371L6.3033 12.107" stroke="#343434"
                                  stroke-opacity="0.4" stroke-width="1.2" stroke-linecap="round"
                                  stroke-linejoin="round"/>
                        </svg>
                    </li>
                    <li class="breadcrambs-link"><a href="#">Оборудование</a>
                        <svg width="13" height="13"
                             viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 6.80371H11.6066" stroke="#343434" stroke-opacity="0.4" stroke-width="1.2"
                                  stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6.3033 1.50041L11.6066 6.80371L6.3033 12.107" stroke="#343434"
                                  stroke-opacity="0.4" stroke-width="1.2" stroke-linecap="round"
                                  stroke-linejoin="round"/>
                        </svg>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="reverce-services">
        {% include 'myblog/inc/intresting.html' %}
        <section class="catalog">
            <div class="container">
                <ul class="catalog-tabs">
                    <li class="catalog-tabs__tab _active">{{ title }}</li>
                </ul>
                <div class="catalog-tab__body">
                    <div class="catalog-tab__content">
                        <div class="catalog-tab__equipment catalog-body">
                            {% for post in posts %}
                                <div class="catalog-tab__column catalog-body__column _anim-items _anim-no-hide">
                                    <a href="{{ post.get_absolute_url }}" class="catalog-tab__item catalog-body__item">
                                        <div class="catalog-tab__name catalog-body__name">
                                            <h2 class="catalog-tab__title catalog-body__title">{{ post }}</h2>
                                            <p class="catalog-tab__subtitle catalog-body__subtitle">{{ post.description }}</p>
                                            <span class="catalog-tab__btn catalog-body__btn"><svg width="14" height="14"
                                                                                                  viewBox="0 0 14 14"
                                                                                                  fill="none"
                                                                                                  xmlns="http://www.w3.org/2000/svg">
                                                    <g clip-path="url(#clip0_104_231)">
                                                        <path d="M1.16602 1.16675L12.8327 12.8334" stroke="#363636"
                                                              stroke-width="2" stroke-linecap="round"
                                                              stroke-linejoin="round"/>
                                                        <path d="M12.8327 1.16675V12.8334H1.16602" stroke="#363636"
                                                              stroke-width="2" stroke-linecap="round"
                                                              stroke-linejoin="round"/>
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0_104_231">
                                                            <rect width="14" height="14" fill="white"/>
                                                        </clipPath>
                                                    </defs>
                                                </svg>
                                            </span>
                                            <div class="catalog-tab__img catalog-body__img catalog-body__img-ibg">
                                                {% if post.image %}
                                                <img src="{{ post.image.url }}" alt="">
                                                {% else %}
                                                    no image
                                                {% endif %}
                                            </div>
                                        </div>

                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}