{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="main">
        <div class="main-image-ibg">
            <!-- <picture>
                <source srcset="./images/main/main-template/mobile.webp" media="(max-width: 768px)">
                <img src="./images/main/main-template/main.webp" alt="Изображение компании">
            </picture> -->
            <video playsinline autoplay muted class="video">
                <source src="{% static 'myblog/images/videos/01.mp4' %}" type="video/mp4">
            </video>

            <div class="main-content">
                <h1 class="main-content__title">ООО “АльфаМилк”</h1>
                <p class="main-content__desc">Мы продолжаем многолетние традиции советского машиностроения. За время
                    мы превратились из
                    организации в крупную инжиниринговую и производственную фирму</p>
            </div>

            <div class="primer">
                <div class="primer-flex"></div>
                <div class="main-decor-page">
                    <svg width="1267" height="753" viewBox="0 0 1267 753" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M462 1L493 97L519.5 1H462Z" fill="#C5C5C5"/>
                        <path d="M244 1L0 751H79L327.5 1H244Z" fill="#C5C5C5"/>
                        <path d="M277.5 583L222 751H315.5L359.5 583H277.5Z" fill="#D3D3D3"/>
                        <path d="M477 583L433 751.5H568.5L510 583H477Z" fill="#D3D3D3"/>
                        <path d="M390.5 189L304 473.5H390.5L438.5 297L406.5 189H390.5Z" fill="#C5C5C5"/>
                        <path d="M554 287L708.5 751.5H780L596.5 180H581.5L554 287Z" fill="#D4D4D4"/>
                        <path d="M822.5 504L656 0H982L841 504H822.5Z" fill="#DBDBDB"/>
                        <path d="M1237 752H1267V446.978L1169 168V536.631L1237 752Z" fill="#A0A0A0"/>
                        <path d="M1266 448L1110 1H1266V448Z" fill="#C5C5C5"/>
                        <path d="M1045.5 180L897 752.5L1237.5 752L1058 180H1045.5Z" fill="#DDDDDD"/>
                    </svg>
                </div>
            </div>

        </div>
    </main>
    {% include 'myblog/inc/about.html' %}
    {% include 'myblog/inc/catalog.html' %}
    {% include 'myblog/inc/intresting.html' %}
    {% include 'myblog/inc/block-news.html' %}
    {% include 'myblog/inc/partners.html' %}
    {% include 'myblog/inc/works.html' %}
    {% include 'myblog/inc/knowing.html' %}
{#    {% for post in posts %}#}
{#        {{ post }}#}
{#    {% endfor %}#}

{% endblock %}