{% load static %}
<section class="about">
        <div class="container">
            <div class="header-title">
                <h2 class="header-title__title main-title _anim-no-hide _anim-items">О Компании</h2>
            </div>
            <div class="about-company">
                <h3 class="about-company__title">АльфаМилк может осуществить любой проект в области пищевой
                    промышленности</h3>
                <div class="about-company__body">
                    <div class="about-company__column">
                        <div class="about-company__item about-company__item-ibg">
                            <img src="{% static 'myblog/images/about/01.jpg' %}" alt="">
                            <h2 class="about-company__info _anim-items _anim-no-hide">полный цикл</h2>
                            <p class="about-company__count">От проектирования до установки и технического
                                обслуживания</p>
                        </div>
                    </div>
                    <div class="about-company__column">
                        <div class="about-company__item about-company__item-ibg">
                            <img src="{% static 'myblog/images/about/02.jpg' %}" alt="">
                            <h2 class="about-company__info _anim-items _anim-no-hide">>800</h2>
                            <p class="about-company__count">довольных клиентов</p>
                        </div>
                    </div>
                    <div class="about-company__column">
                        <div class="about-company__item about-company__item-ibg">
                            <img src="{% static 'myblog/images/about/03.jpg' %}" alt="">
                            <h2 class="about-company__info _anim-items _anim-no-hide">>30 лет</h2>
                            <p class="about-company__count">опыт поставок на рынке</p>
                        </div>
                    </div>
                </div>
                <div class="about-company__decor">
                    <svg width="343" height="450" viewBox="0 0 343 450" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M0 1.0541e-05L328.151 1.43439e-05L209.576 232.193L0 1.0541e-05ZM220 244L457.15 244L423.49 335.748L470.441 243.808L589.016 476.001L351.865 476.001L368.147 444.118L220 244ZM221.43 232.193L458.581 232.193L340.005 0.000497442L221.43 232.193Z"
                              fill="url(#paint0_linear_40000232_3825)" fill-opacity="0.07"/>
                        <defs>
                            <linearGradient id="paint0_linear_40000232_3825" x1="-9.85738e-07" y1="16.9705"
                                            x2="607.363" y2="160.198" gradientUnits="userSpaceOnUse">
                                <stop stop-color="white"/>
                                <stop offset="0.702251" stop-color="white" stop-opacity="0"/>
                            </linearGradient>
                        </defs>
                    </svg>

                </div>
            </div>
        </div>
    </section>