{% load static %}
<section class="intresting _anim-no-hide _anim-items">
        <div class="container">
            <div class="intresting-body">
                <div class="intresting-img intresting-img-ibg">
                    <img src="{% static 'myblog/images/intresting/intrsting-bg.webp' %}." alt="">
                </div>
                <div class="intresting-project">
                    <h3 class="intresting-project__title">У вас есть интересный проект?</h3>
                    <p class="intresting-project__subtitle">ООО «АльфаМилк» осуществит для вас проектирование,
                        конструирование и монтаж под ключ проекта любой сложности.</p>
                    <a class="intresting-project__btn btn-primary" href="{% url 'contacts' %}">Подробнее</a>
                    <div class="intresting-project__decor">
                        <svg width="149" height="336" viewBox="0 0 149 336" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M176.207 -18L346.608 -18L261.407 214.193L176.207 -18ZM78.1752 225.808L248.576 225.808L171.993 427L0.981617 427L78.1752 225.808ZM252.89 214.193L82.4887 214.193L167.689 -18L252.89 214.193Z"
                                  fill="url(#paint0_linear_40000232_3964)" fill-opacity="0.18"/>
                            <defs>
                                <linearGradient id="paint0_linear_40000232_3964" x1="346.608" y1="-2.13479"
                                                x2="-21.538" y2="52.3566" gradientUnits="userSpaceOnUse">
                                    <stop offset="0.349" stop-color="#FFC5C5" stop-opacity="0"/>
                                    <stop offset="0.959" stop-color="#FFC5C5"/>
                                </linearGradient>
                            </defs>
                        </svg>

                    </div>
                </div>
            </div>
        </div>
    </section>