{% load static %}
<section class="works">
        <div class="container">
            <div class="header-title">
                <h2 class="header-title__title main-title _anim-no-hide _anim-items">Наши работы</h2>
                <a class="header-title__btn main-btn" href="#">Смотреть все</a>
            </div>
            <div class="works-body">
                <div class="works-body-first">
                    <div class="works-body-first__img-top works-body-first__img-top--big _anim-no-hide _anim-items">
                        <img src="{% static 'myblog/images/works/01.jpg' %}" alt="">
                    </div>
                    <div class="works-body-first__img-bottom">
                        <div class="works-body-first__img-bottom-left">

                            <div class="works-body-first__img-bottom-left--small _anim-no-hide _anim-items"><img
                                    src="{% static 'myblog/images/works/02.jpg' %}" alt=""></div>
                        </div>
                        <div class="works-body-first__img-bottom-right">

                            <div class=" works-body-first__img-bottom-right--small _anim-no-hide _anim-items"><img
                                    src="{% static 'myblog/images/works/03.jpg' %}" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="works-body-second">
                    <div
                            class="works-body-second__img-top works-body-second__img-top--top _anim-no-hide _anim-items">
                        <img src="{% static 'myblog/images/works/04.jpg' %}" alt=""></div>
                    <div
                            class="works-body-second__img-bottom works-body-second__img-bottom--big _anim-no-hide _anim-items">
                        <img src="{% static 'myblog/images/works/05.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>